* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --font-color-default: #e2e8f0;
  --font-color-faded: #8d9fba;
  --font-color-white: #ffffff;
  --font-color-link: #59dcd5;
  --color-button: #1b3450;
  --color-project: #172446;
  --color-linktag:  #dd41e06c;
  --color-linkTagHover: #f907fd84;

  /** Transparent **/
  --background-project: rgba(0.2, 0.2, 0.2, 0.2);
  --font-color-faded-transparent: rgba(141, 159, 186, 0.3); /* add opacity */
  --font-color-link-transparent: rgba(89, 220, 213, 0.3); /* convert to rgba */

  --font-size-l: 48px;
  --font-size-m: 20px;
  --font-size-ms: 14px;
  --font-size-s: 13px;
  --font-size-xs: 12px;

  --font-weight-l: 600;
  --font-weight-m: 400;
  --font-weight-s: 200;

  --background-color: #1c1c1c;
  --background-highlight-color: #18223c;
}

/*DEFAULTS*/

h1 {
  color: var(--font-color-default);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

h2 {
  color: var(--font-color-default);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-m);
}

p {
  color: var(--font-color-faded);
  font-size: var(--font-size-ms);
  font-weight: var(--font-weight-s);
  line-height: 24px;
}

a {
  text-decoration: none;
  color: var(--font-color-default);
  font-size: var(--font-size-ms);
  font-weight: var(--font-weight-s);
}

a:hover {
  color: var(--font-color-link);
}

ul {
  color: var(--font-color-default);
  list-style-type: none;
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "cv11" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    letter-spacing: 0.05em;
  }
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

#glow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: var(--x);
  background: radial-gradient(
    var(--background-highlight-color),
    transparent,
    transparent
  );
  z-index: -2;
  pointer-events: auto;
}

@media screen and (max-width: 1000px) {
  #glow {
    background: var(--background-color);
  }
}

/*Set position & properties of html content*/
#html-content {
  pointer-events: none;

  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 50px 0px;

  display: flex;

  color: var(--text-color-default);
}

.left-content {
  flex: 1 1 0;
  position: relative;
}

.right-content {
  flex: 1 1 0;
  overflow: auto; /* Add this line to enable scrolling */
  pointer-events: auto;
}

.left-content .html {
  position: absolute;
  z-index: 10;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 16px;
}

.nav > p {
  color: var(--font-color-faded);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
  pointer-events: auto;
  transition: transform 0.3s ease;
}

.nav > p.active {
  color: var(--font-color-default);
}

.nav > p:hover {
  transform: translateY(-20%);
}

.icons {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1000px) {
  .icons {
    position: static;
    margin-top: 16px;
  }
}

.icons > img,
.icons > svg {
  width: 25px;
  height: 25px;
  pointer-events: auto; /* Enable pointer events on hover */
  fill: var(--font-color-faded);
}

.icons > svg:hover {
  fill: var(--font-color-default);
}

.icons > .stroke {
  fill: #121212;
  stroke: var(--font-color-faded);
}

.icons > .stroke:hover {
  fill: #121212;
  stroke: var(--font-color-default);
}

/*RIGHT-SIDE*/
.link-icon {
  width: 1em;
  height: 1em;
  position: relative;
  transition: transform 0.2s;
}

a:hover > .link-icon {
  transform: translateX(0.2em) translateY(-0.2em);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

.tags > li {
  font-size: var(--font-size-s);

  padding: 0.4em 0.8em;
  border-radius: 100px;
  color: var(--font-color-link);
  background-color: var(--color-button);
}

.tags > .link-tag {
  position: relative;
  color: var(--font-color-link);
  background-color: var(--color-linktag);
  transition: transform 0.2s linear, background-color 0.2s linear; /* Added background-color transition */

}

.tags > .link-tag:hover {
  transform: scale(1.08);
  background-color: var(--color-linkTagHover);

}

.clipboard {
  margin-left: 4px;
  width: 15px;
  height: 15px;
  vertical-align: middle; /* Adjusts the alignment to be centered with the text */

}

.projects,
.experience {
  margin-top: 76px;
}

.project,
.job {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-top: 1px solid transparent;
  margin-top: 12px;
}

.project:hover,
.job:hover {
  border-top: 1px solid var(--color-button);
  background-color: var(--background-project);
  border-radius: 8px;
}

.project-info a {
  font-size: var(--font-size-ms);
  font-weight: var(--font-weight-m);
}

.project-info p {
  margin-top: 12px;
  line-height: 20px;
  font-size: var(--font-size-s);
}

.project-image {
  margin-top: 8px;
  width: 120px;
  height: 72px;
  border: 2px solid var(--font-color-faded-transparent);
  border-radius: 4px;
}

.project:hover > .project-image {
  border: 2px solid var(--font-color-link-transparent);
}

.job-date {
  flex: 2 0 120px;
  font-size: var(--font-size-xs);
}

.about {
  margin-left: 20px;
  margin-right: 20px;
}

.projects-more,
.experience-more {
  padding: 20px;
  border-top: 1px solid transparent;
  margin-top: 12px;
  pointer-events: true;
}

.projects-more:hover,
.experience-more:hover {
  border-top: 1px solid var(--color-button);
  background-color: var(--background-project);
  border-radius: 8px;
}

.projects-more > a,
.experience-more > a {
  font-size: var(--font-size-ms);
  font-weight: var(--font-weight-m);
}

.experience-more {
  margin-bottom: 300px;
}

.about > p {
  margin-top: 12px;
}


.clipboard-notification {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 12px;
  color: var(--font-color-link);
  background-color: var(--color-button);
  border-radius: 8px;
  transition: opacity 0.8s ease; /* Add transition for opacity */
}

.clipboard-notification.hide {
  opacity: 0; /* Set opacity to 0 to fade out */
}



/* MOBILE */

.mobile-header {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 74px;
}

.sticky-section {
  position: sticky;
  color: white;
  top: 0; /* You can use top, right, bottom, or left depending on your needs */
  padding: 20px;
  background-color: var(--background-color);
}
